{% load i18n %}
<div id="pass-reset" class="standard-view">
	<form id="pass-reset-form" method="post" class="auth-form">
		{% comment %} {% csrf_token %} {% endcomment %}
		<h2>Reset Password</h2>

		<div class="form-group">
			<input type="email" name="email" id="id_email" placeholder="Email" required>
		</div>

		<button type="submit">Send Reset Link</button>

		<div id="form-errors" class="error-messages"></div>

		<a href="/#/login" class="auth-link">Back to Login</a>
	</form>
	<div id="pass-reset-done" hidden="true" >
		<div class="auth-form">
		<h2>Email Sent</h2>

		<p>We've emailed you instructions for setting your password.</p>
		<p>If you don't receive an email, please make sure you've entered the address you registered with.</p>

		<a href="/#/login" class="auth-link">Back to Login</a>
		</div>
	</div>
</div>
