<div class="menu-button login-menu">
    {% if is_authenticated %}
        <img src="{{ profile_pic }}" alt="User Profile" class="menu-icon" id="user-icon">
    {% else %}
        <img src="/static/images/nologin-thumb.png" alt="No Login" class="menu-icon" id="login-icon">
    {% endif %}
    
    <div class="menu-buttons">
		<div class="menu-user">{{ username }}</div>
        {% if is_authenticated %}
            <div class="nav-button" onclick="window.location.hash='#/profile'">PROFILE</div>
            <div class="nav-button" id="logout-button">LOG OUT</div>
        {% else %}
            <div class="nav-button" onclick="window.location.hash='#/login'">LOG IN</div>
        {% endif %}
    </div>
</div>

{% comment %} https://getbootstrap.com/docs/5.3/components/badge/ {% endcomment %}